<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Api</title>
</head>

<body>
  <h1>Home</h1>
  <% for(var i=0;i<out.length;i++){ %>
  <p><%= out[i].id %></p>
  <p><%= out[i].title %></p>
  <p><%= out[i].description %></p>
  <p><%= out[i].user %></p>
  <%}%>
  </body>
</html>
